<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Construloc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index/style.css') }}" media="all">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_index/media_query.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body onresize="mudar_tamanho()" onload="redirecionar()">
    <div class="conteudo">
        <section class="fundo_topo">
            <div class="rotacao">
                <img class="telefone" src="{{ url_for('static', filename='imagens/rotacao.png') }}" alt="">
            </div>
            <div class="espaco"></div>
            <h1 class="logo">Construloc</h1>
            <nav>
                <a href="{{ url_for('endereco') }}">Endereço</a>
                <sep>|</sep>
                <a href="https://api.whatsapp.com/send/?phone=5562986222629&text&type=phone_number&app_absent=0">Contato</a>
                <sep>|</sep>
                <a href="">Sobre nós</a>
            </nav>
        </section>
        <section class="fundo_betoneira">
            <img class="betoneira" src="{{ url_for('static', filename='imagens/betoneira.jpeg') }}" alt="">
            <div class="descricao_betoneira">
                Precisando de uma Betoneira, mas não sabe onde alugar? <br>Seus problemas acabaram, pois aqui na Construloc nossas betoneiras são feitas para você trabalhar sem interrupções. <br>Prezamos pela facilidade e conforto de você cliente amigo, então, caso algo aconteça basta entrar em contato conosco pelo <a href="https://api.whatsapp.com/send/?phone=5562986222629&text&type=phone_number&app_absent=0" title="Whatsapp">(62)98622-2629</a> que faremos o possível para resolver o seu problema. <br>Caso queira alugar a Betoneira é só clicar no botão "FAZER LOCAÇÃO" que se encontra logo abaixo.
            </div>
            <input class="alugar" type="button" value="Alugar Betoneira">
        </section>
        <section class="fundo_andaime">
            <img class="andaime" src="{{ url_for('static', filename='imagens/andaime.jpg') }}" alt="">
        </section>
    </div>
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>
</body>
</html>
