@keyframes animacao_logo {
    0%{transform: rotate3d(1, 0, 0, 0deg);}
    50%{transform: rotate3d(1, 0, 0, 360deg); color: #0040ff; text-shadow: 0px 0px 17px #0040ff;}
    100%{transform: rotate3d(1, 0, 0, 0deg);}
}
@font-face {
    font-family: font_titulo;
    src: url('../fonts/Anson-Regular.otf');
}
@font-face {
    font-family: font_logo;
    src: url('../fonts/Monoton-Regular.ttf');
}
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
section.fundo_topo{
    text-align: center;
    font-size: 3vw;
}
section>nav a{
    text-shadow: 0px 1px 1px white;
}
.logo{
    font: normal 5vw font_logo, Times, serif;
    animation: animacao_logo 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    text-shadow: 0px 0px 17px black;
}
h1{
    font-family: font_logo;
    color: blue;
}
a{
    text-decoration: none;
    color: black;
}
.fundo_topo{
    background: red url('../imagens/fundo_cabecalho.jpeg') no-repeat fixed;
    background-size: cover;
}
.alugar{
    padding: 10px;
    margin: 10px 0px 0px 15vw;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid black;
    font-weight: bold;
    font-size: 2vw;
}
.alugar:hover{
    background-color: orange;
}
.fundo_betoneira{
    background-color: #c7c722;
}
.betoneira{
    float: left;
    width: 50%;
}
.descricao_betoneira{
    font-size: 2vw;
    float: right;
    padding: 7% 0px 7% 0px;
    width: 50%;
    text-align: justify;
}
.betoneira, .descricao_betoneira, .alugar, .andaime{
    visibility: hidden;
}
.fundo_andaime{
    background-color: #26dd2f;
}
.andaime{
    float: right;
    width: 50%;
}